<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fhnw.Ecnf.RoutePlanner.RoutePlannerLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <trace autoflush="true"/>
        <sources>
            <source name="Fhnw.Ecnf.RoutePlanner.RoutePlannerLib.Cities" switchName="logLevel">
                <listeners>
                    <remove name="Default"/>
                    <add name="file" />
                    <add name="console" />
                </listeners>
            </source>
            <source name="Fhnw.Ecnf.RoutePlanner.RoutePlannerLib.Routes" switchName="logLevel">
                <listeners>
                    <remove name="Default"/>
                    <add name="file" />
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="logLevel" value="Information" />
        </switches>
        <sharedListeners>
            <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="routeplanner.log">
                <filter type="System.Diagnostics.EventTypeFilter"
                  initializeData="Information" />
            </add>
            <add name="console" type="System.Diagnostics.ConsoleTraceListener" >
                <filter type="System.Diagnostics.EventTypeFilter"
                  initializeData="Critical" />
            </add>
        </sharedListeners>
    </system.diagnostics>
    
    <userSettings>
        <Fhnw.Ecnf.RoutePlanner.RoutePlannerLib.Properties.Settings>
            <setting name="RouteAlgorithm" serializeAs="String">
                <value>Fhnw.Ecnf.RoutePlanner.RoutePlannerLib.RoutesDijkstra</value>
            </setting>
        </Fhnw.Ecnf.RoutePlanner.RoutePlannerLib.Properties.Settings>
    </userSettings>
</configuration>